#DATA_HOST = '192.168.253.128'
DATA_HOST = '127.0.0.1'
DATA_NAME = 'ptkingdom'
DATA_USER = 'deploy'
DATA_PASSWORD = 'asdf12345678'
DATA_DBID = 0

EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_TLS = True
EMAIL_USER = 'hello'
EMAIL_PASSWORD = 'world'



TOPDOMAIN = '.putaogame.com'
BASE_URL = ''
FRONT_URL = 'http://localhost:8888'
CDN_URL = 'http://cdn.putaogame.com/ptkingdom/'
DOMAIN = ''
DEBUG = True

PUB_DATA_HOST = '127.0.0.1'
PUB_DATA_DBID = 1
ZONE_ID = 1